// variables and functions
@use "sass:math";
@import "variables";
@import "mixins";
@import "breakpoints";
//componenets (button, anchor tags, heading tags etc)

/*================================= Program Directory Start =======================================*/

.main_wrapper{
    .page_title{
        margin-bottom: 0px;
        h1{
            left: 50%;
            z-index: 2;
            width: 100%;
            bottom: 30px;
            color: $white;
            padding: 0 15px;
            position: absolute;
            transform: translateX(-50%);
        }
        .overlay-grade{
            left: 0;
            right: 0;
            top: 50%;
            bottom: 0;
            z-index: 1;
            width: 100%;
            height: 50%;
            position: absolute;
            background: linear-gradient(0deg, rgb(8, 8, 8) 0%, rgb(0, 0, 0) 0%, rgba(255,255,255,0) 100%);
        }
    }
    .main_breadcrumb{
        .breadcrumb{
            margin-bottom: 35px;
            padding: 12px 100px 0;
            background-color: transparent;
            .breadcrumb-item+.breadcrumb-item{
                padding-left: 0.25rem;
                &::before{
                    content: ">";
                    @include bold;
                    color: $primary;
                    padding-right: 0.25rem;
                }
                &.active{
                    @include regular;
                    color: $primary;
                }
            }
            a{
                @include semi;
                color: $primary;
            }
        }
    }
    

    .pro_dir_Wraper .searchFilterBlock {
        //padding: 36px 20px 50px;
        //background-color: $anti-flash-white;
        .acc__card{
            margin-bottom: 10px;
        }
        .acc__title {
            display: flex;
            cursor: pointer;
            min-height: auto;
            border-radius: 0px;
            position: relative;
            align-items: center;
            padding: 30px 20px 10px 40px;
            background: $anti-flash-white;
            &.ani_title{
                padding-top: 0;
                padding-bottom: 0;
                min-height: 60px;
            }
            &.active{
                .acco_sign{
                    background: $secondary;
                    transition: all 0.3s ease-in-out;
                    span {
                        color: $white;
                        transform: translate(-50%, -50%) rotate(-90deg);
                    }
                }
                h3{
                    color: $black;
                }
            }
            h3 {
                margin: 0px;
                color: $black;
                position: relative;
            }
            .acco_sign {
                width: 20px;
                right: 20px;
                height: 20px;
                position: absolute;
                border-radius: 100%;
                border: 1px solid $secondary;
                transition: all 0.3s ease-in-out;
                span {
                    top: 50%;
                    left: 50%;
                    font-size: 12px;
                    font-weight: 600;
                    color: $secondary;
                    position: absolute;
                    transform: translate(-50%, -50%) rotate(90deg);
                }
            }
        }
    
        .acc__panel {
            border-top: 0;
            background: $anti-flash-white;
            padding: 0px 20px 10px 40px;
            &.ani_panel{
                display: none;
            }
            h6 {
                margin-bottom: 0;
            }
            .tel_em_fax {
                margin-bottom: 20px;
                strong {
                    color: $black;
                    font-weight: 700;
                }
                a {
                    color: $primary;
                    font-weight: 600;
                    color: $secondary;
                    text-decoration: underline;
                    &:hover {
                        color: #2977AE;
                        text-decoration: underline;
                    }
                }
                p {
                    margin-bottom: 3px;
                }
                p.adress {
                    padding-top: 15px;
                }
            }
        }
    }

    .pro_dir_filter {
        padding: 0px 100px 70px;
        .row{
            justify-content: space-between;
            .col-le{
                min-width: 340px;
                .filterBlock{
                    margin-bottom: 45px;
                }
                .filter-check-Block{
                    flex-direction: column;
                    .custom-control{
                        gap: 10px;
                        padding-left: 0px;
                        align-items: center;
                        margin-bottom: 30px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        .custom-control-icon{
                            //margin-right: 10px;
                            //margin-left: 40px;
                            width: 35px;
                            display: flex;
                            margin-left: 35px;
                            img{
                                margin: 0 auto;
                            }
                        }
                        p{
                            margin: 0;
                        }
                        .btn{
                            padding: 0;
                            display: inline-flex;
                            &:focus{
                                box-shadow: none;
                            }
                        }
                        h5{
                            color: $secondary;
                            margin: 0;
                        }
                        .custom-control-label{
                            top: 0;
                            width: 30px;
                            position: absolute;
                            &::after,
                            &::before{
                                top: 0;
                                left: 0;
                                border: 0;
                                width: 22px;
                                height: 22px;
                                border-radius: 0;
                                box-shadow: 0px 0px 3px #00000029;
                            }
                        }
                        .custom-control-input:checked~.custom-control-label::before{
                            color: $black;
                            border: none;
                            background-color: $cyber-yellow;
                        }
                        .custom-control-input:checked~.custom-control-label::after{
                            color: $black;
                        }
                    }
                }
            }
            .col-re{
                max-width: calc(100% - 370px);
                h2{
                    margin-bottom: 10px;
                    padding-bottom: 5px;
                    border-bottom: 1px solid #798C8C;
                }
                p{
                    line-height: 24px;
                }
                h3{
                    margin-top: 80px;
                    margin-bottom: 35px;
                }

                .simple_list_info {
                    margin-bottom: 80px;
                    .row {
                        justify-content: center;
                    }
                }
                .simple_list_col {
                    padding-left: 4px;
                    padding-right: 4px;
                    margin-bottom: 8px;
                    a {
                        width: 100%;
                        height: 100%;
                        padding: 10px;
                        @include bold;
                        display: flex;
                        color: $primary;
                        font-size: 18px;
                        min-height: 95px;
                        background: none;
                        text-align: center;
                        position: relative;
                        align-items: center;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        -ms-flex-pack: center;
                        -ms-flex-align: center;
                        justify-content: center;
                        -webkit-box-pack: center;
                        -webkit-box-align: center;
                        border: 2px solid $primary;
                        &:hover {
                            color: $white;
                            text-decoration: none;
                            background: $secondary;
                            border-color: $secondary;
                        }
                    }
                }
                /*================ Button List End ================*/
                
                .expand_img_grid {
                    .container {
                        max-width: 1200px;
                    }
                }
                .expanding-grid {
                    position: relative;
                    .expand_box {
                        background: $white;
                        border: 1px solid #d9d9d9;
                        box-shadow: 0px 3px 6px #00000029;
                        &:hover {
                            //outline: 1px solid $primary;
                            .plus-minus_icon {
                                background-color: $anti-flash-white;
                            }
                        }
                    }
                    .expand_det {
                        padding: 15px;
                        text-align: center;
                        padding-bottom: 10px;
                        /*  background: #fff;*/
                        h6 {
                            color: $black;
                            margin-bottom: 5px;
                            span {
                                color: $black;
                                display: block;
                                margin-top: 4px;
                                font-weight: normal;
                                text-transform: uppercase;
                            }
                        }
                    }
                    .links {
                        padding: 1em 0;
                        display: block;
                        overflow: hidden;
                        margin: 0px -5px;
                        padding-top: 0px;
                        >li {
                            width: 33.333%;
                            float: left;
                            padding: 0px 5px;
                            list-style: none;
                            margin-bottom: 11px;
                            box-sizing: border-box;
                            -webkit-box-sizing: border-box;
                            >a {
                                text-decoration: none;
                            }
                            .active {
                                .expand_box{
                                    z-index: 2;
                                    box-shadow: none;
                                    position: relative;
                                    border-bottom: none;
                                    background-color: $white;
                                }
                                .expand_det {
                                    min-height: 125px;
                                }
                                .plus-minus_icon {
                                    img {
                                        @include rotate;
                                    }
                                }
                            }
                        }
                    }
                    .expand_img {
                        border-bottom: 6px solid $cyber-yellow;
                        img {
                            width: 100%;
                        }
                    }
                    .spacer {
                        clear: both;
                        display: block;
                        margin-bottom: 0px;
                    }
                    .expanding-container {
                        width: 100%;
                        clear: both;
                        display: none;
                        margin-top: -11px;
                    }
                    .expanding-container.expanded,
                    .expanding-grid .expanding-container:target {
                        display: block
                    }
                    .close-button {
                        z-index: 5;
                        width: 25px;
                        color: #fff;
                        height: 25px;
                        line-height: 1;
                        overflow: hidden;
                        margin-top: 20px;
                        text-indent: 5em;
                        margin-right: 20px;
                        white-space: nowrap;
                        display: inline-block;
                        text-decoration: none;
                        will-change: opacity;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        background: url(../img/cancel.png);
                        -webkit-background-size: cover;
                        -moz-background-size: cover;
                            -o-background-size: cover;
                                background-size: cover;
                        &.active {
                            -webkit-transition: opacity 0.2s;
                                -o-transition: opacity 0.2s;
                                    transition: opacity 0.2s;
                        }
                        &:hover {
                            opacity: 0.5
                        }
                    }
                    .expand-content {
                        width: 100%;
                        margin: auto;
                        margin-bottom: 15px;
                        padding: 30px 130px 20px;
                        box-shadow: 0px 0px 3px #00000029;
                    }
                    .plus-minus_icon {
                        width: 39px;
                        height: 39px;
                        display: flex;
                        margin-left: auto;
                        margin-right: auto;
                        position: relative;
                        align-items: center;
                        border-radius: 100%;
                        justify-content: center;
                        img {
                            max-width: 22px;
                        }
                    }
                    .no-content {
                        >a {
                            pointer-events: none;
                        }
                        .plus-minus_icon {
                            visibility: hidden;
                        }
                    }
                }
                /*================ Expand Images Grid End ================*/

            }
        }
    }

}

@media (min-width: 1440.98px) {
    .main_wrapper .page_title img{
        width: 100%;
        height: 689px;
        object-fit: cover;
    }
}
@media (max-width: 1199.98px) {
    .main_wrapper .main_breadcrumb .breadcrumb{
        padding-left: 0;
        padding-right: 0;
    }
    .main_wrapper .pro_dir_filter{
        padding-left: 0;
        padding-right: 15px;
    }
}
@media (max-width: 991.98px) {
    .main_wrapper .page_title h1{
        bottom: 0;
    }
    
    .main_wrapper .pro_dir_filter .row .col-re .expanding-grid .expand-content{
        padding: 30px 30px 20px;
    }
    .main_wrapper .pro_dir_filter .row .col-re .expanding-grid .links > li{
        width: 33.333%;
    }
}

@media (max-width: 767.98px) {
    .main_wrapper .page_title h1{
        font-size: 32px;
    }
    .main_wrapper .pro_dir_filter{
        padding-right: 0;
    }
    .main_wrapper .pro_dir_Wraper .searchFilterBlock{
        margin-bottom: 25px;
        padding-bottom: 20px;
    }

    .main_wrapper .pro_dir_filter .row{
        flex-direction: column;
    }
    .main_wrapper .pro_dir_filter .row .col-le,
    .main_wrapper .pro_dir_filter .row .col-re{
        max-width: 100%;
        min-width: auto;
    }
    
    .main_wrapper .pro_dir_filter .row .col-re .expanding-grid .links > li{
        width: 50%;
    }

}

@media (max-width: 575px) {
    
    .main_wrapper .pro_dir_filter .row .col-re{
        margin: 0 auto;
        max-width: fit-content;
    }
    
}

@media (max-width: 460px) {
    .main_wrapper .page_title .overlay-grade{
        top: 30%;
        height: 70%;
    }
    .main_wrapper .page_title img{
        height: 215px;
        object-fit: cover;
    }
    
    .main_wrapper .pro_dir_filter .row .col-re .expanding-grid .links > li{
        width: 100%;
    }
}

/*================================= Program Directory End =======================================*/


