// variables and functions
@use "sass:math";
@import "variables";
@import "mixins";
@import "breakpoints";
//componenets (button, anchor tags, heading tags etc)

/*================================= Program Directory Start =======================================*/

.main_wrapper{
    .page_title{
        margin-bottom: 0px;
        background-color: $anti-flash-white;
        h1{
            display: inline-block;
        }
    }
    .view-tab{
        top: 60px;
        right: 15px;
        position: absolute;
        .btn{
            height: 40px;
            border: none;
            font-size: 16px;
            min-width: 150px;
            color: #464D4D;
            background-color: #EBEEEE;
            &.list-view{
                padding-left: 27px;
                padding-right: 65px;
                border-radius: 3px 0 0 3px;
                background-repeat: no-repeat;
                background-size: 22px 19px;
                border-right: 2px solid #EBEEEE;
                background-position: top 10px right 25px;
                background-image: url(../img/icon-list-view.svg);
                &:hover, &.active{
                    color: $white;
                    background-color: $secondary;
                    background-image: url(../img/icon-list-view-over.svg);
                }
            }
            &.calendar-view{
                padding-left: 13px;
                padding-right: 43px;
                border-radius: 0 3px 3px 0;
                background-repeat: no-repeat;
                background-size: 17px 19px;
                background-position: top 9px right 15px;
                background-image: url(../img/icon-calendar-view.svg);
                &:hover, &.active{
                    color: $white;
                    background-color: $secondary;
                    background-image: url(../img/icon-calendar-view-over.svg);
                }
            }
            &.rss{
                width: 35px;
                min-width: auto;
                margin-left: 15px;
                background-color: transparent;
                background-repeat: no-repeat;
                background-size: 31px 31px;
                background-position: top 5px left 2px;
                background-image: url(../img/icon-rss.svg);
                &:hover{
                    background-image: url(../img/icon-rss-over.svg);
                }
            }
        }
    }

    .main_breadcrumb{
        .breadcrumb{
            padding: 0.75rem 8rem;
            background-color: transparent;
            .breadcrumb-item+.breadcrumb-item{
                padding-left: 0.25rem;
                &::before{
                    content: ">";
                    @include bold;
                    color: $primary;
                    padding-right: 0.25rem;
                }
                &.active{
                    @include regular;
                    color: $primary;
                }
            }
            a{
                @include semi;
                color: $primary;
            }
        }
    }

    
    .search_box {
        margin-bottom: 25px;
        .btn {
            top: 0;
            right: 0;
            border: 0;
            z-index: 90;
            width: 50px;
            height: 50px;
            border-radius: 0px;
            position: absolute;
            background-color: $cyber-yellow;
            img {
                max-width: 23px;
            }
        }
        .form-control {
            color: $black;
            font-size: 16px;
            min-width: 100%;
            min-height: 50px;
            border-radius: 0;
            padding-right: 60px;
            border: 1px solid #E2E2E2;
            box-shadow: 0px 0px 3px #00000029;
            &:focus{
                box-shadow: none;
                border: 1px solid #E2E2E2;
            }
        }
        .probox,
        input.orig,
        .proclose,
        .innericon,
        .promagnifier {
            height: 45px !important;
            font-size: 16px !important;
            font-family: "Industry", sans-serif !important;
        }
        .innericon {
            background-size: 24px !important;
        }
        .probox {
            height: auto;
            border: 0 !important;
            overflow: visible !important;
        }
        .asp_main_container {
            border-radius: 5px;
            overflow: visible !important;
            border: 1px solid #D9D9D9;
        }
        .probox {
            min-width: 100%;
        }
        .proinput input.orig {
            font-size: 15px !important;
            color: #000102!important;
            border-bottom: 0!important;
            padding-bottom: 4px !important;
            font-weight: normal !important;
            font-family: 'Gill Sans', sans-serif !important;
        }
        ::-webkit-input-placeholder {
            font-size: 15px !important;
            color: #000102 !important;
            font-weight: normal !important;
            font-family: 'Gill Sans', sans-serif !important;
        }
        ::-moz-placeholder {
            font-size: 15px !important;
            color: #000102!important;
            font-weight: normal !important;
            font-family: 'Gill Sans', sans-serif !important;
        }
        :-ms-input-placeholder {
            font-size: 15px !important;
            color: #000102 !important;
            font-weight: normal !important;
            font-family: 'Gill Sans', sans-serif !important;
        }
        :-moz-placeholder {
            font-size: 15px !important;
            color: #000102 !important;
            font-weight: normal !important;
            font-family: 'Gill Sans', sans-serif !important;
        }
        .promagnifier {
            display: flex;
            align-items: center;
            width: 45px !important;
            justify-content: center;
            background: $primary !important;
            border-radius: 0px 5px 5px 0px !important;
        }
        .innericon svg {
            width: 28px !important;
        }
    }

    .pro_dir_Wraper .searchFilterBlock {
        padding: 0;
        //background-color: $anti-flash-white;
        h5{
            @include bold;
            margin-bottom: 22px;
        }
        .form-group {
            margin-bottom: 10px;
        }
    }

    .pro_dir_filter {
        padding: 15px 100px 150px;
        .row{
            justify-content: space-between;
            .col-le{
                margin-top: 60px;
                min-width: 300px;
                .filterBlock{
                    margin-bottom: 25px;
                    h5{
                        @include bold;
                        margin-bottom: 10px;
                    }
                    .form-group{
                        gap: 10px;
                        padding-right: 20px;
                        justify-content: left;
                    }
                }
                .filter-check-Block{
                    flex-direction: column;
                    .custom-control{
                        gap: 10px;
                        padding-left: 0px;
                        align-items: center;
                        margin-bottom: 15px;
                        &:last-child{
                            margin-top: 25px;
                            margin-bottom: 0;
                        }
                        &.academic{
                            .custom-control-icon{
                                background-color: $secondary;
                            }
                        }
                        &.athletics{
                            .custom-control-icon{
                                background-color: $cyber-yellow;
                            }
                        }
                        &.campus{
                            .custom-control-icon{
                                background-color: $marigold;
                            }
                        }
                        &.performing{
                            .custom-control-icon{
                                background-color: $android-green;
                            }
                        }
                        .custom-control-icon{
                            //margin-left: 40px;
                            //margin-right: 10px;
                            width: 7px;
                            height: 25px;
                            display: flex;
                            margin-left: 40px;
                            img{
                                margin: 0 auto;
                            }
                        }
                        p{
                            margin: 0;
                        }
                        .btn{
                            padding: 0;
                            display: inline-flex;
                            &:focus{
                                box-shadow: none;
                            }
                        }
                        h5{
                            margin: 0;
                            @include semi;
                            color: $secondary;
                        }
                        .custom-control-label{
                            top: 0;
                            width: 30px;
                            position: absolute;
                            &::after,
                            &::before{
                                top: 0;
                                left: 0;
                                border: 0;
                                width: 25px;
                                height: 25px;
                                border-radius: 0;
                                box-shadow: 0px 0px 3px #00000029;
                            }
                        }
                        .custom-control-input:checked~.custom-control-label::before{
                            color: $black;
                            border: none;
                            background-color: $cyber-yellow;
                        }
                        .custom-control-input:checked~.custom-control-label::after{
                            color: $black;
                        }
                    }
                }
            }
            .col-re{
                width: 100%;
                max-width: calc(100% - 330px);
                h2{
                    color: $black;
                    margin-top: 60px;
                    margin-bottom: 40px;
                }
                .document_era {
                    min-width: 150px;
                    align-self: flex-end;
                    .col-md-12 {
                        padding-left: 0px;
                        padding-right: 0px;
                    }
                }
                .doc_block {
                    @include semi;
                    display: block;
                    color: $secondary;
                    @include underline;
                    margin-bottom: 10px;
                    img {
                        max-width: 17px;
                        margin-right: 10px;
                    }
                    strong {
                        margin-right: 10px;
                    }
                    &:hover {
                        color: $primary;
                        img{
                            filter: saturate(50%);
                        }
                    }
                }
                /*================ All content, links and image slider End ================*/
                
                .event-box{
                    margin-bottom: 10px;
                    position: relative;
                    background-color: $white;
                    border-top: 5px solid $secondary;
                    box-shadow: 0px 3px 6px #00000038;
                    &.academic{
                        border-top: 5px solid $secondary;
                        .event-date{
                            background-color: $secondary;
                            span{
                                color: $white;
                            }
                        }
                    }
                    &.athletics{
                        border-top: 5px solid $cyber-yellow;
                        .event-date{
                            background-color: $cyber-yellow;
                            span{
                                color: $black;
                            }
                        }
                    }
                    &.campus{
                        border-top: 5px solid $marigold;
                        .event-date{
                            background-color: $marigold;
                            span{
                                color: $black;
                            }
                        }
                    }
                    &.performing{
                        border-top: 5px solid $android-green;
                        .event-date{
                            background-color: $android-green;
                            span{
                                color: $black;
                            }
                        }
                    }
                    .event-date{
                        min-width: 145px;
                        padding: 20px 10px;
                        text-align: center;
                        background-color: $secondary;
                        div{
                            height: 100%;
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            justify-content: center;
                            span{
                                @include gill;
                                color: $white;
                                display: block;
                                font-size: 35px;
                                font-weight: 700;
                                line-height: normal;
                                &.event-day{
                                    @include upper;
                                    font-size: 24px;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                    .event-body{
                        gap: 50px;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        min-height: 155px;
                        padding: 15px 30px 15px 45px;
                        justify-content: space-between;
                        .event-content{
                            flex-direction: column;
                            justify-content: space-between;
                            h3{
                                color: $black;
                                a{
                                    color: $black;
                                    @include bold;
                                    display: block;
                                }
                            }
                            p{
                                margin-bottom: 10px;
                                &.icon{
                                    padding-left: 30px;
                                    background-position: left;
                                    background-repeat: no-repeat;
                                    background-color: transparent;
                                    &-clock{
                                        @extend .icon;
                                        background-size: 20px 20px;
                                        background-image: url(../img/icon-clock.svg);
                                    }
                                    &-location{
                                        @extend .icon;
                                        padding-top: 2px;
                                        background-position: top left 2px;
                                        background-size: 16px 24px;
                                        background-image: url(../img/icon-location.svg);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .form-group > label,
        .sort_boxResult > label{
            @include bold;
            padding-left: 5px;
            text-transform: none;
            margin-bottom: 0.25rem;
        }
        select {
            font-weight: 500;
            border-radius: 0;
            margin-bottom: 12px;
            border: 1px solid #E2E2E2;
            box-shadow: 0px 0px 3px #00000029;
            background: #FFFFFF url(../img/icon-arrow-down.svg) no-repeat center right 15px;
            background-size: 24px 14px;
        }
    }

}

@media (max-width: 1199.98px) {
    .main_wrapper .main_breadcrumb .breadcrumb{
        padding-left: 0;
        padding-right: 0;
    }
    .main_wrapper .pro_dir_filter{
        padding-left: 0;
        padding-right: 15px;
    }
    .main_wrapper .pro_dir_filter .row .col-re .event-box .event-body{
        gap: 20px;
    }
}
@media (max-width: 991.98px) {
    
    .main_wrapper .pro_dir_filter .row{
        flex-direction: column;
    }
    .main_wrapper .pro_dir_filter .row .col-le,
    .main_wrapper .pro_dir_filter .row .col-re{
        max-width: 100%;
        min-width: auto;
    }

    .main_wrapper .pro_dir_filter .row .col-le .filter-check-Block{
        flex-wrap: wrap;
        flex-direction: row;
    }
    .main_wrapper .pro_dir_filter .row .col-le .filter-check-Block .custom-control{
        flex: 0 0 auto;
        padding-right: 30px;
        &:last-child{
            margin-top: 0;
            margin-bottom: 15px;
        }
    }
}

@media (max-width: 767.98px) {
    .main_wrapper .pro_dir_filter{
        padding-right: 0;
    }
    .main_wrapper .pro_dir_filter select{
        background-size: 10px 8px;
    }

    .main_wrapper .pro_dir_filter .row .col-re .event-box .event-body{
        display: block;
        min-height: auto;
    }
    .main_wrapper .pro_dir_filter .row .col-re .document_era{
        text-align: right;
    }

}

@media (max-width: 575px) {
    
    .main_wrapper .pro_dir_filter .row .col-le .filter-check-Block .custom-control{
        flex: 0 0 50%;
        padding-right: 10px;
    }

    .main_wrapper .pro_dir_filter .row .col-re{
        margin: 0 auto;
        max-width: fit-content;
    }

    .main_wrapper .pro_dir_filter .row .col-re .event-box .event-date{
        min-width: 110px;
    }
    .main_wrapper .pro_dir_filter .row .col-re .event-box .event-body{
        padding: 15px 15px 15px 20px;
    }
}

@media (max-width: 460px) {
    .main_wrapper .pro_dir_filter .row .col-le .filter-check-Block .custom-control p{
        //display: none;
    }
    .main_wrapper .pro_dir_filter .row .col-le .filter-check-Block{
        flex-direction: column;
    }
}

/*================================= Program Directory End =======================================*/


