// variables and functions
@use "sass:math";
@import "variables";
@import "mixins";
@import "breakpoints";
//componenets (button, anchor tags, heading tags etc)

/*================================= Academic Office Directory Start =======================================*/

.main_wrapper{
    .page_title{
        margin-bottom: 40px;
        background-color: $anti-flash-white;
        h1{
            display: inline-block;
        }
    }
    .main_breadcrumb{
        .breadcrumb{
            padding: 0.75rem 8rem;
            background-color: transparent;
            .breadcrumb-item+.breadcrumb-item{
                padding-left: 0.25rem;
                &::before{
                    content: ">";
                    @include bold;
                    color: $primary;
                    padding-right: 0.25rem;
                }
                &.active{
                    @include regular;
                    color: $primary;
                }
            }
            a{
                @include semi;
                color: $primary;
            }
        }
    }
    
    .img_text_card{
        margin: 0 auto;
        max-width: 1000px;
        padding-bottom: 90px;
    }
    .img_text_card_row {
        .img_text_card_col {
            padding: 0px 6px;
            margin-bottom: 15px;
            >a:hover {
                .link {
                    img {
                        @include img-green;
                    }
                }
            }
            &.one {
                .text-img-wrap {
                    display: grid;
                    align-items: center;
                    grid-column-gap: 20px;
                    grid-template-columns: 1fr 1fr;
                }
                .link {
                    bottom: 40px;
                }
                .text_card_block {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        }
        .text-img-wrap {
            border: 0;
            height: 100%;
            display: flex;
            background: $white;
            flex-direction: column;
            box-shadow: 0px 3px 6px #00000038;
            >a {
                height: 100%;
                display: flex;
                flex-direction: column;
                &:hover {
                    text-decoration: none;
                }
            }
            //&:hover {}
            &.no-img {
                .btn_sm {
                    bottom: 20px;
                    position: absolute;
                }
            }
            //>a:hover {}
            .img_card_block {
                border-bottom: 6px solid $cyber-yellow;
                img {
                    width: 100%;
                }
            }
            h3{
                color: $black;
            }
            .text_card_block {
                height: auto;
                height: 100%;
                display: flex;
                padding: 20px 25px 50px;
                flex-direction: column;
                justify-content: space-between;
                p,
                li {
                    color: $black;
                    font-weight: normal;
                    margin-bottom: 0;
                }
                h5 {
                    margin-bottom: 15px;
                }
                &:hover p{
                    text-decoration: underline;
                }
            }
            .doc_block{
                margin: 0;
                padding: 12px 20px;
                flex-direction: row;
                background-color: $anti-flash-white;
                text-decoration: underline;
                img{
                    max-width: 14px;
                    margin-right: 8px;
                }
            }
            &:hover {
                outline: 1px solid $dolphin-gray;
            }
        }   
        &.one {
            .text-img-wrap>a {
                display: grid;
                align-items: center;
                grid-column-gap: 20px;
                grid-template-columns: 1fr 1fr;
            }
        }
        .has-button.text-img-wrap .text_card_block {
            position: relative;
            padding-bottom: 50px;
            height: 100% !important;
        }
        .has-button.text-img-wrap .link {
            left: 25px;
            width: auto;
            bottom: 30px;
            display: table;
            position: absolute;
        }
    }

    
}

@media (max-width: 1199.98px) {
    .main_wrapper .main_breadcrumb .breadcrumb{
        padding-left: 0;
        padding-right: 0;
    }
    
}
@media (max-width: 991.98px) {
    
}

@media (max-width: 767.98px) {
    

}

@media (max-width: 575px) {
    
}

@media (max-width: 460px) {
    .main_wrapper .page_title h1{
        font-size: 36px;
    }
}

/*=================================  Academic Office Directory End =======================================*/


