// variables and functions
@use "sass:math";
@import "variables";
@import "mixins";
@import "breakpoints";
//componenets (button, anchor tags, heading tags etc)

/*================================= Academic Office Directory Start =======================================*/

.main_wrapper{
    .page_title{
        margin-bottom: 40px;
        background-color: $anti-flash-white;
        h1{
            display: inline-block;
        }
    }
    .main_breadcrumb{
        .breadcrumb{
            padding: 0.75rem 8rem;
            background-color: transparent;
            .breadcrumb-item+.breadcrumb-item{
                padding-left: 0.25rem;
                &::before{
                    content: ">";
                    @include bold;
                    color: $primary;
                    padding-right: 0.25rem;
                }
                &.active{
                    @include regular;
                    color: $primary;
                }
            }
            a{
                @include semi;
                color: $primary;
            }
        }
    }
    
    .img_text_card, .col-re{
        margin: 0 auto;
        max-width: 1000px;
        padding: 0 0px 40px;
        h2{
            color: $black;
            margin-bottom: 20px;
        }
        .img_text_card_row {
            .img_text_card_col {
                padding: 0px 6px;
                margin-bottom: 15px;
                >a:hover {
                    .link {
                        img {
                            @include img-green;
                        }
                    }
                }
                &.one {
                    .text-img-wrap {
                        display: grid;
                        align-items: center;
                        grid-column-gap: 20px;
                        grid-template-columns: 1fr 1fr;
                    }
                    .link {
                        bottom: 40px;
                    }
                    .text_card_block {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                }
            }
            .text-img-wrap {
                border: 0;
                height: 100%;
                display: flex;
                background: $white;
                flex-direction: column;
                box-shadow: 0px 3px 6px #00000038;
                >a {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    &:hover {
                        text-decoration: none;
                    }
                }
                //&:hover {}
                &.no-img {
                    .btn_sm {
                        bottom: 20px;
                        position: absolute;
                    }
                }
                //>a:hover {}
                .img_card_block {
                    img {
                        width: 100%;
                    }
                }
                h3{
                    color: $black;
                }
                .text_card_block {
                    height: auto;
                    height: 100%;
                    display: flex;
                    padding: 20px 25px 25px;
                    flex-direction: column;
                    justify-content: space-between;
                    border-top: 6px solid $cyber-yellow;
                    p,
                    li {
                        color: $black;
                        margin-bottom: 0;
                        line-height: 24px;
                    }
                    h5 {
                        color: $secondary;
                        margin-bottom: 5px;
                    }
                    h6 {
                        @include regular;
                        margin-bottom: 10px;
                    }
                    &:hover p{
                        text-decoration: underline;
                    }
                }
                .doc_block{
                    margin: 0;
                    padding: 12px 20px;
                    flex-direction: row;
                    background-color: $anti-flash-white;
                    text-decoration: underline;
                    img{
                        max-width: 14px;
                        margin-right: 8px;
                    }
                }
                &:hover {
                    outline: 1px solid $dolphin-gray;
                }
            }   
            &.one {
                .text-img-wrap>a {
                    display: grid;
                    align-items: center;
                    grid-column-gap: 20px;
                    grid-template-columns: 1fr 1fr;
                }
            }
            .has-button.text-img-wrap .text_card_block {
                position: relative;
                padding-bottom: 50px;
                height: 100% !important;
            }
            .has-button.text-img-wrap .link {
                left: 25px;
                width: auto;
                bottom: 30px;
                display: table;
                position: absolute;
            }
        }
}

    /*============= Subscribe section =============*/
    .subscribe-box{
        padding: 38px 15px 70px;
        .row{
            justify-content: center;
        }
        h2{
            color: $black;
        }
        p{
            margin-bottom: 20px;
        }
        .form-group{
            margin-right: 22px;
        }
        .form-control{
            min-width: 270px;
            min-height: 40px;
            &:focus{
                box-shadow: none;
            }
        }
        .btn_normal{
            padding: 7px 73px;
            border: 1px solid #000000;
            &:focus{
                border: none;
                outline: none;
                box-shadow: none;
            }
        }
    }
    /*============= Subscribe section End =============*/

    /*============= News Archive Start =============*/
    
    
    .search_box {
        //max-width: 300px;
        margin-bottom: 25px;
        .input-group{
            max-width: 300px;
            margin-right: 40px;
        }
        .input-group .btn {
            top: 0;
            right: 0;
            border: 0;
            z-index: 90;
            width: 50px;
            height: 50px;
            border-radius: 0px;
            position: absolute;
            background-color: $cyber-yellow;
            img {
                max-width: 23px;
            }
        }
        .form-control {
            color: $black;
            font-size: 16px;
            min-width: 100%;
            min-height: 50px;
            border-radius: 0;
            padding-right: 60px;
            border: 1px solid #E2E2E2;
            box-shadow: 0px 0px 3px #00000029;
            &:focus{
                box-shadow: none;
                border: 1px solid #E2E2E2;
            }
        }
        .probox,
        input.orig,
        .proclose,
        .innericon,
        .promagnifier {
            height: 45px !important;
            font-size: 16px !important;
            font-family: "Industry", sans-serif !important;
        }
        .innericon {
            background-size: 24px !important;
        }
        .probox {
            height: auto;
            border: 0 !important;
            overflow: visible !important;
        }
        .asp_main_container {
            border-radius: 5px;
            overflow: visible !important;
            border: 1px solid #D9D9D9;
        }
        .probox {
            min-width: 100%;
        }
        .proinput input.orig {
            font-size: 15px !important;
            color: #000102!important;
            border-bottom: 0!important;
            padding-bottom: 4px !important;
            font-weight: normal !important;
            font-family: 'Gill Sans', sans-serif !important;
        }
        ::-webkit-input-placeholder {
            font-size: 15px !important;
            color: #000102 !important;
            font-weight: normal !important;
            font-family: 'Gill Sans', sans-serif !important;
        }
        ::-moz-placeholder {
            font-size: 15px !important;
            color: #000102!important;
            font-weight: normal !important;
            font-family: 'Gill Sans', sans-serif !important;
        }
        :-ms-input-placeholder {
            font-size: 15px !important;
            color: #000102 !important;
            font-weight: normal !important;
            font-family: 'Gill Sans', sans-serif !important;
        }
        :-moz-placeholder {
            font-size: 15px !important;
            color: #000102 !important;
            font-weight: normal !important;
            font-family: 'Gill Sans', sans-serif !important;
        }
        .promagnifier {
            display: flex;
            align-items: center;
            width: 45px !important;
            justify-content: center;
            background: $primary !important;
            border-radius: 0px 5px 5px 0px !important;
        }
        .innericon svg {
            width: 28px !important;
        }
    }

    .pro_dir_Wraper {
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: $anti-flash-white;
        .searchFilterBlock{
            padding: 0;
            h5{
                @include bold;
                margin-bottom: 22px;
            }
            .form-group {
                margin-bottom: 10px;
            }
        }
    }

    .pro_dir_filter {
        max-width: 1000px;
        margin: 0 auto;
        .row{
            justify-content: space-between;
            .col-le{
                width: 100%;
                h2{
                    color: $black;
                    margin-bottom: 40px;
                }
                .filterBlock{
                    gap: 15px;
                    flex-wrap: wrap;
                    margin-bottom: 25px;
                    justify-content: space-between;
                    h5{
                        @include bold;
                        margin-bottom: 10px;
                    }
                    .form-control{
                        min-height: 50px;
                    }
                    .form-group{
                        justify-content: left;
                    }
                    .filterBlock-box{
                        gap: 15px;
                        flex-wrap: wrap;
                        .f-category .form-control{
                            min-width: 285px;
                        }
                        .f-date .form-group{
                            gap: 15px;
                        }
                        &.f-sort{
                            flex: 0 0 21.5%;
                        }
                    }
                }
                .filter-check-Block{
                    flex-direction: column;
                    .custom-control{
                        gap: 10px;
                        padding-left: 0px;
                        align-items: center;
                        margin-bottom: 15px;
                        &:last-child{
                            margin-top: 25px;
                            margin-bottom: 0;
                        }
                        &.academic{
                            .custom-control-icon{
                                background-color: $secondary;
                            }
                        }
                        &.athletics{
                            .custom-control-icon{
                                background-color: $cyber-yellow;
                            }
                        }
                        &.campus{
                            .custom-control-icon{
                                background-color: $marigold;
                            }
                        }
                        &.performing{
                            .custom-control-icon{
                                background-color: $android-green;
                            }
                        }
                        .custom-control-icon{
                            //margin-left: 40px;
                            //margin-right: 10px;
                            width: 7px;
                            height: 25px;
                            display: flex;
                            margin-left: 40px;
                            img{
                                margin: 0 auto;
                            }
                        }
                        p{
                            margin: 0;
                        }
                        .btn{
                            padding: 0;
                            display: inline-flex;
                            &:focus{
                                box-shadow: none;
                            }
                        }
                        h5{
                            margin: 0;
                            @include semi;
                            color: $secondary;
                        }
                        .custom-control-label{
                            top: 0;
                            width: 30px;
                            position: absolute;
                            &::after,
                            &::before{
                                top: 0;
                                left: 0;
                                border: 0;
                                width: 25px;
                                height: 25px;
                                border-radius: 0;
                                box-shadow: 0px 0px 3px #00000029;
                            }
                        }
                        .custom-control-input:checked~.custom-control-label::before{
                            color: $black;
                            border: none;
                            background-color: $cyber-yellow;
                        }
                        .custom-control-input:checked~.custom-control-label::after{
                            color: $black;
                        }
                    }
                }
            }
            .col-re{
                width: 100%;
            }
        }
        .form-group > label,
        .sort_boxResult > label{
            @include bold;
            padding-left: 5px;
            text-transform: none;
            margin-bottom: 0.25rem;
        }
        select {
            min-width: 165px;
            font-weight: 500;
            border-radius: 0;
            margin-bottom: 12px;
            border: 1px solid #E2E2E2;
            box-shadow: 0px 0px 3px #00000029;
            background: #FFFFFF url(../img/icon-arrow-down.svg) no-repeat center right 15px;
            background-size: 24px 14px;
        }
        .calender-view-wrapper{
            display: none;
        }
        &.calender-view-active{
            padding: 15px 40px 100px 50px;
            .row{ position: relative; }
            .view-tab{
                top: auto;
                right: 0;
                bottom: 10px;
            }
            .col-re{
                display: none;
                transition: all 0.3s ease-in-out;
            }
            .col-le{
                width: 100%;
                min-width: auto;
                .filter-check-Block{
                    gap: 30px;
                    flex-direction: row;
                    .custom-control:last-child{
                        margin-top: 0;
                        margin-bottom: auto;
                    }
                }
                .search_box{
                    max-width: 333px;
                }
            }
        }
    }
    /*============= News Archive End =============*/
    
}

@media (max-width: 1199.98px) {
    .main_wrapper .main_breadcrumb .breadcrumb{
        padding-left: 0;
        padding-right: 0;
    }
    
}

@media (min-width: 767.98px) {

    .img_text_card{
        .img_text_card_col {
            &:first-child{
                flex: 0 0 auto;
                max-width: 100% !important;
                .text-img-wrap {
                    > a{
                        flex-direction: row;
                        .text_card_block {
                            justify-content: normal;
                            padding: 20px 23px 35px 35px;
                        }
                        .img_card_block {
                            align-self: center;
                            border-bottom: none;
                            img {
                                width: auto;
                                max-width: fit-content;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 991.98px) {
    
    .main_wrapper .subscribe-box .form-control{
        min-width: 200px;
    }
    .main_wrapper .subscribe-box .btn_normal{
        padding: 7px 50px;
    }

    .main_wrapper .pro_dir_filter .row .col-le .filterBlock .filterBlock-box .f-category .form-control{
        min-width: 165px;
    }

}

@media (max-width: 767.98px) {
    .main_wrapper .subscribe-box .form-inline{
        gap: 20px;
        flex-direction: column;
    }
    .main_wrapper .subscribe-box .form-group{
        margin-right: 0;
    }
    .main_wrapper .subscribe-box .form-control{
        min-width: 300px;
    }

}

@media (max-width: 575px) {
    
}

@media (max-width: 460px) {
    
}

/*=================================  Academic Office Directory End =======================================*/


