.test-btn {
  background-color: #EAA522;
}

/*================================= Page Builder Start =======================================*/
.main_wrapper {
  /*================ Page Title End ================*/
  /*================ Breadcrumb End ================*/
  /*================ All content, links and image slider End ================*/
  /*================ Image Or Video End ================*/
  /*================ Image, Text Card Variations End ================*/
  /*================ Clickable Images End ================*/
  /*================ Expand Images Grid End ================*/
  /*================ Image Carousel End ================*/
  /*================ How to End ================*/
  /*================ Button List End ================*/
  /*================ Contact Card End ================*/
}
.main_wrapper p {
  line-height: 24px;
  margin-bottom: 20px;
}
.main_wrapper ol, .main_wrapper ul {
  margin-bottom: 35px;
}
.main_wrapper ol li,
.main_wrapper ul li {
  font-weight: 500;
}
.main_wrapper h2 {
  color: #000000;
}
.main_wrapper .yellow {
  color: #000000;
  background-color: #FFD100;
}
.main_wrapper > section {
  padding: 80px 0px;
}
.main_wrapper .page_title {
  padding: 60px 15px;
  margin-bottom: 15px;
  position: relative;
  background-color: #0033A0;
}
.main_wrapper .page_title::after {
  left: 0;
  top: 100%;
  opacity: 1;
  z-index: 1;
  content: "";
  height: 67px;
  padding-left: 100%;
  position: absolute;
  background-color: #F0F3FA;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 25%);
  -moz-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 25%);
  -ms-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 25%);
  -o-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 25%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 25%);
}
.main_wrapper .page_title h1 {
  color: #ffffff;
  margin-bottom: 0;
}
.main_wrapper .main_breadcrumb {
  z-index: 2;
  position: relative;
  padding-bottom: 52px;
}
.main_wrapper .main_breadcrumb .breadcrumb {
  padding: 0.75rem 8rem;
  background-color: transparent;
}
.main_wrapper .main_breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item {
  padding-left: 0.25rem;
}
.main_wrapper .main_breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  font-weight: 700;
  color: #03246A;
  padding-right: 0.25rem;
}
.main_wrapper .main_breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item.active {
  color: #03246A;
  font-weight: 400;
}
.main_wrapper .main_breadcrumb .breadcrumb a {
  font-weight: 600;
  color: #03246A;
}
.main_wrapper .middle_wrap {
  padding: 0;
}
.main_wrapper .generic_middle_block {
  max-width: 960px;
  padding-top: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}
.main_wrapper .generic_middle_block .date {
  font-weight: 600;
  color: #0033A0;
  margin-bottom: 30px;
}
.main_wrapper .generic_middle_block .document_era .col-md-12 {
  padding-left: 0px;
  padding-right: 0px;
}
.main_wrapper .general_carousel {
  margin-top: 65px;
  margin-bottom: 65px;
}
.main_wrapper .general_carousel .carousel-control-prev img {
  transform: rotate(180deg);
}
.main_wrapper .general_carousel .carousel-control-next,
.main_wrapper .general_carousel .carousel-control-prev {
  opacity: 1;
}
.main_wrapper .general_carousel .carousel-control-next img,
.main_wrapper .general_carousel .carousel-control-prev img {
  max-width: 26px;
}
.main_wrapper .general_carousel .carousel-control-next:hover img,
.main_wrapper .general_carousel .carousel-control-prev:hover img {
  filter: brightness(0) saturate(100%) invert(51%) sepia(78%) saturate(5573%) hue-rotate(149deg) brightness(94%) contrast(99%);
}
.main_wrapper .general_carousel .carousel-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main_wrapper .doc_block {
  font-weight: 600;
  display: block;
  color: #0033A0;
  margin-left: 25px;
  margin-bottom: 10px;
}
.main_wrapper .doc_block img {
  max-width: 17px;
  margin-right: 10px;
}
.main_wrapper .doc_block strong {
  margin-right: 10px;
}
.main_wrapper .doc_block:hover {
  color: #03246A;
  text-decoration: underline;
}
.main_wrapper .doc_block:hover img {
  filter: saturate(50%);
}
.main_wrapper .gen_video_img {
  text-align: center;
  margin: 0 auto;
}
.main_wrapper .topTitle {
  text-align: center;
  margin-bottom: 75px;
}
.main_wrapper .link_text {
  font-size: 15px;
  color: #5C6B26;
  font-weight: 700;
}
.main_wrapper .link_text img {
  margin-left: 3px;
  transform: rotate(180deg);
}
.main_wrapper .img_text_card {
  margin: 0 auto;
  max-width: 1200px;
}
.main_wrapper .img_text_card_row .img_text_card_col {
  padding: 0px 6px;
  margin-bottom: 15px;
}
.main_wrapper .img_text_card_row .img_text_card_col > a:hover .link img {
  filter: brightness(0) saturate(100%) invert(51%) sepia(78%) saturate(5573%) hue-rotate(149deg) brightness(94%) contrast(99%);
}
.main_wrapper .img_text_card_row .img_text_card_col.one .text-img-wrap {
  display: grid;
  align-items: center;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr;
}
.main_wrapper .img_text_card_row .img_text_card_col.one .link {
  bottom: 40px;
}
.main_wrapper .img_text_card_row .img_text_card_col.one .text_card_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main_wrapper .img_text_card_row .text-img-wrap {
  border: 0;
  height: 100%;
  display: flex;
  background: #ffffff;
  flex-direction: column;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2196078431);
}
.main_wrapper .img_text_card_row .text-img-wrap > a {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.main_wrapper .img_text_card_row .text-img-wrap > a:hover {
  text-decoration: none;
}
.main_wrapper .img_text_card_row .text-img-wrap.no-img .btn_sm {
  bottom: 20px;
  position: absolute;
}
.main_wrapper .img_text_card_row .text-img-wrap .img_card_block {
  border-bottom: 6px solid #FFD100;
}
.main_wrapper .img_text_card_row .text-img-wrap .img_card_block img {
  width: 100%;
}
.main_wrapper .img_text_card_row .text-img-wrap h3 {
  color: #000000;
}
.main_wrapper .img_text_card_row .text-img-wrap .text_card_block {
  height: auto;
  height: 100%;
  display: flex;
  padding: 20px 25px;
  flex-direction: column;
  justify-content: space-between;
}
.main_wrapper .img_text_card_row .text-img-wrap .text_card_block p,
.main_wrapper .img_text_card_row .text-img-wrap .text_card_block li {
  color: #000000;
  font-weight: normal;
  margin-bottom: 0;
}
.main_wrapper .img_text_card_row .text-img-wrap .text_card_block h5 {
  margin-bottom: 15px;
}
.main_wrapper .img_text_card_row .text-img-wrap .text_card_block:hover p {
  text-decoration: underline;
}
.main_wrapper .img_text_card_row .text-img-wrap .doc_block {
  margin: 0;
  padding: 12px 20px;
  flex-direction: row;
  background-color: #F0F3FA;
  text-decoration: underline;
}
.main_wrapper .img_text_card_row .text-img-wrap .doc_block img {
  max-width: 14px;
  margin-right: 8px;
}
.main_wrapper .img_text_card_row .text-img-wrap:hover {
  outline: 1px solid #798C8C;
}
.main_wrapper .img_text_card_row.one .text-img-wrap > a {
  display: grid;
  align-items: center;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr;
}
.main_wrapper .img_text_card_row .has-button.text-img-wrap .text_card_block {
  position: relative;
  padding-bottom: 50px;
  height: 100% !important;
}
.main_wrapper .img_text_card_row .has-button.text-img-wrap .link {
  left: 25px;
  width: auto;
  bottom: 30px;
  display: table;
  position: absolute;
}
.main_wrapper .button_block {
  display: flex;
}
.main_wrapper .img_button_row {
  justify-content: center;
}
.main_wrapper .img_button_row .img_btn_col {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 15px;
}
.main_wrapper .img_button_row .img_btn_col:hover img {
  filter: brightness(1.5);
}
.main_wrapper .img_button_row .img_block {
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
.main_wrapper .img_button_row .img_block_title {
  width: 100%;
  text-align: center;
}
.main_wrapper .img_button_row .img_block_title h3 {
  color: #000000;
  margin: 0px;
  position: relative;
}
.main_wrapper .img_button_row img {
  width: 100%;
}
.main_wrapper .expand_img_grid .container {
  max-width: 1200px;
}
.main_wrapper .expanding-grid {
  position: relative;
}
.main_wrapper .expanding-grid .expand_box {
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
}
.main_wrapper .expanding-grid .expand_box:hover .plus-minus_icon {
  background-color: #F0F3FA;
}
.main_wrapper .expanding-grid .expand_det {
  padding: 15px;
  text-align: center;
  padding-bottom: 10px;
  /*  background: #fff;*/
}
.main_wrapper .expanding-grid .expand_det h6 {
  color: #000000;
  margin-bottom: 5px;
}
.main_wrapper .expanding-grid .expand_det h6 span {
  color: #000000;
  display: block;
  margin-top: 4px;
  font-weight: normal;
  text-transform: uppercase;
}
.main_wrapper .expanding-grid .links {
  padding: 1em 0;
  display: block;
  overflow: hidden;
  margin: 0px -5px;
  padding-top: 0px;
}
.main_wrapper .expanding-grid .links > li {
  width: 25%;
  float: left;
  padding: 0px 5px;
  list-style: none;
  margin-bottom: 11px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.main_wrapper .expanding-grid .links > li > a {
  text-decoration: none;
}
.main_wrapper .expanding-grid .links > li .active .expand_box {
  z-index: 2;
  box-shadow: none;
  position: relative;
  border-bottom: none;
  background-color: #ffffff;
}
.main_wrapper .expanding-grid .links > li .active .expand_det {
  min-height: 125px;
}
.main_wrapper .expanding-grid .links > li .active .plus-minus_icon img {
  transform: rotate(180deg);
}
.main_wrapper .expanding-grid .expand_img {
  border-bottom: 6px solid #FFD100;
}
.main_wrapper .expanding-grid .expand_img img {
  width: 100%;
}
.main_wrapper .expanding-grid .spacer {
  clear: both;
  display: block;
  margin-bottom: 0px;
}
.main_wrapper .expanding-grid .expanding-container {
  width: 100%;
  clear: both;
  display: none;
  margin-top: -11px;
}
.main_wrapper .expanding-grid .expanding-container.expanded,
.main_wrapper .expanding-grid .expanding-grid .expanding-container:target {
  display: block;
}
.main_wrapper .expanding-grid .close-button {
  z-index: 5;
  width: 25px;
  color: #fff;
  height: 25px;
  line-height: 1;
  overflow: hidden;
  margin-top: 20px;
  text-indent: 5em;
  margin-right: 20px;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  will-change: opacity;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(../img/cancel.png);
  background-size: cover;
}
.main_wrapper .expanding-grid .close-button.active {
  transition: opacity 0.2s;
}
.main_wrapper .expanding-grid .close-button:hover {
  opacity: 0.5;
}
.main_wrapper .expanding-grid .expand-content {
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
  padding: 30px 130px 20px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1607843137);
}
.main_wrapper .expanding-grid .plus-minus_icon {
  width: 39px;
  height: 39px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  align-items: center;
  border-radius: 100%;
  justify-content: center;
}
.main_wrapper .expanding-grid .plus-minus_icon img {
  max-width: 22px;
}
.main_wrapper .expanding-grid .no-content > a {
  pointer-events: none;
}
.main_wrapper .expanding-grid .no-content .plus-minus_icon {
  visibility: hidden;
}
.main_wrapper .owl-general {
  position: relative;
  margin: 0px auto;
}
.main_wrapper .owl-general .owl-stage {
  display: flex;
}
.main_wrapper .owl-general .owl-stage .owl-item {
  width: max-content !important;
  width: -moz-max-content !important;
  width: -webkit-max-content !important;
}
.main_wrapper .owl-general .owl-stage .item {
  width: max-content;
  width: -moz-max-content;
  width: -webkit-max-content;
}
.main_wrapper .owl-general .owl-carousel .owl-item img {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.main_wrapper .owl-general .owl-nav button {
  top: 50%;
  border: 0;
  z-index: 9;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  background: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
.main_wrapper .owl-general .owl-nav button:focus {
  outline: none;
}
.main_wrapper .owl-general .owl-nav .owl-next {
  right: 15px;
}
.main_wrapper .owl-general .owl-nav .owl-prev {
  left: 15px;
}
.main_wrapper .owl-general .owl-nav .owl-prev img {
  transform: rotate(180deg);
}
.main_wrapper .owl-general .owl-stage-outer {
  margin: auto;
  overflow: hidden;
}
.main_wrapper .owl-general .owl-carousel .owl-dot {
  width: 32px;
  height: 1px;
  margin: 0px 3px;
  border-radius: 0;
  background: #4E453B;
}
.main_wrapper .owl-general .owl-carousel .owl-dots {
  display: none;
  margin-top: 15px;
  text-align: center;
  margin-bottom: 15px;
}
.main_wrapper .owl-general .owl-carousel .owl-dot.active {
  height: 3px;
  background: #4E453B;
}
.main_wrapper .howto {
  margin-top: 50px;
  margin-bottom: 50px;
}
.main_wrapper .how_to_cont {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.main_wrapper .how_to_cont h2 {
  margin-bottom: 50px;
  position: relative;
  padding-left: 25px;
}
.main_wrapper .how_to_cont .how_row {
  flex-wrap: nowrap;
  margin-bottom: 10px;
  -ms-flex-wrap: nowrap;
}
.main_wrapper .how_to_cont .how_row h6 {
  margin-bottom: 0px;
}
.main_wrapper .how_to_cont .how_row .number {
  border: 0;
  width: 43px;
  height: 43px;
  display: flex;
  color: #ffffff;
  min-width: 40px;
  font-size: 16px;
  font-weight: 700;
  min-height: 40px;
  margin-right: 20px;
  align-items: center;
  border-radius: 100px;
  display: -ms-flexbox;
  background: #0033A0;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}
.main_wrapper .how_to_cont .how_row .how_title {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  text-transform: none;
}
.main_wrapper .how_to_cont .how_row p.how_title {
  margin-bottom: 5px;
}
.main_wrapper .simple_list_info .row {
  justify-content: center;
}
.main_wrapper .simple_list_col {
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 8px;
}
.main_wrapper .simple_list_col a {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-weight: 700;
  display: flex;
  color: #03246A;
  font-size: 18px;
  min-height: 95px;
  background: none;
  text-align: center;
  position: relative;
  align-items: center;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  border: 2px solid #03246A;
}
.main_wrapper .simple_list_col a:hover {
  color: #ffffff;
  text-decoration: none;
  background: #0033A0;
  border-color: #0033A0;
}
.main_wrapper .contactcard_row .contact_col {
  display: flex;
  padding: 0px 6px;
  margin-bottom: 15px;
  flex-direction: column;
  justify-content: flex-start;
}
.main_wrapper .contactcard_row .cont_inner {
  padding: 32px 11px 32px 48px;
  background-color: #F0F3FA;
}
.main_wrapper .contactcard_row .contact_box {
  background: #ffffff;
}
.main_wrapper .contactcard_row .contact_box p {
  margin-bottom: 5px;
}
.main_wrapper .contactcard_row .contact_box h3 {
  color: #000000;
  font-size: 22px;
  font-weight: 700;
}
.main_wrapper .contactcard_row .contact_box h6 {
  font-weight: normal;
}
.main_wrapper .contactcard_row .contact_box .cont_img img {
  width: 100%;
}
.main_wrapper .contactcard_row .tel_em_fax {
  margin-top: 20px;
}
.main_wrapper .contactcard_row .tel_em_fax strong {
  color: #000000;
  font-weight: 700;
}
.main_wrapper .contactcard_row .tel_em_fax a {
  color: #03246A;
  font-weight: 600;
  text-decoration: none;
}
.main_wrapper .contactcard_row .tel_em_fax a:hover {
  color: #2977AE;
  text-decoration: underline;
}
.main_wrapper .contactcard_row .tel_em_fax p {
  margin-bottom: 3px;
}
.main_wrapper .contactcard_row .tel_em_fax p.adress {
  padding-top: 15px;
}

@media (max-width: 1199.98px) {
  .main_wrapper .main_breadcrumb .breadcrumb {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 767.98px) and (max-width: 1024px) {
  .contact_col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 991.98px) {
  .main_wrapper .expanding-grid .expand-content {
    padding: 30px 30px 20px;
  }
  .main_wrapper .expanding-grid .links > li {
    width: 33.333%;
  }
}
@media (max-width: 767.98px) {
  .main_wrapper .expanding-grid .links > li {
    width: 50%;
  }
}
@media (max-width: 460px) {
  .main_wrapper .expanding-grid .links > li {
    width: 100%;
  }
}
/*================================= Page Builder End =======================================*//*# sourceMappingURL=page-builder.css.map */