// variables and functions
@use "sass:math";
@import "variables";
@import "mixins";
@import "breakpoints";
//componenets (button, anchor tags, heading tags etc)

/*================================= Page Builder Start =======================================*/

.main_wrapper{
    
    p {
        line-height: 24px;
        margin-bottom: 20px;
    }
    ol, ul{
        margin-bottom: 35px
    }
    ol li,
    ul li{
        @include medium;
    }
    h2{
        color: $black;
    }
    .yellow{
        color: $black;
        background-color: $cyber-yellow;
    }
    >section {
        padding: 80px 0px;
    }

    .page_title{
        padding: 60px 15px;
        margin-bottom: 15px;
        position: relative;
        background-color: $secondary;
        &::after{
            left: 0;
            top: 100%;
            opacity: 1;
            z-index: 1;
            content: "";
            height: 67px;
            padding-left: 100%;
            position: absolute;
            background-color: $anti-flash-white;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 25%);
               -moz-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 25%);
                -ms-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 25%);
                 -o-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 25%);
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 25%);
        }
        h1{
            color: $white;
            margin-bottom: 0;
        }
    }
    /*================ Page Title End ================*/

    .main_breadcrumb{
        z-index: 2;
        position: relative;
        padding-bottom: 52px;
        .breadcrumb{
            padding: 0.75rem 8rem;
            background-color: transparent;
            .breadcrumb-item+.breadcrumb-item{
                padding-left: 0.25rem;
                &::before{
                    content: ">";
                    @include bold;
                    color: $primary;
                    padding-right: 0.25rem;
                }
                &.active{
                    color: $primary;
                    @include regular;
                }
            }
            a{
                @include semi;
                color: $primary;
            }
        }
    }
    /*================ Breadcrumb End ================*/

    .middle_wrap{
        padding: 0;
    }
    .generic_middle_block {
        max-width: 960px;
        padding-top: 0px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10px;
        .date {
            @include semi;
            color: $secondary;
            margin-bottom: 30px;
        }
        .document_era {
            .col-md-12 {
                padding-left: 0px;
                padding-right: 0px;
            }
        }
    }
    
    .general_carousel {
        margin-top: 65px;
        margin-bottom: 65px;
        .carousel-control-prev {
            img {
                @include rotate;
            }
        }
        .carousel-control-next,
        .carousel-control-prev {
            opacity: 1;
            img {
                max-width: 26px;
            }
        }
        .carousel-control-next:hover img,
        .carousel-control-prev:hover img {
            @include img-green;
        }
        .carousel-item {
            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
    
    .doc_block {
        @include semi;
        display: block;
        color: $secondary;
        margin-left: 25px;
        margin-bottom: 10px;
        img {
            max-width: 17px;
            margin-right: 10px;
        }
        strong {
            margin-right: 10px;
        }
        &:hover {
            color: $primary;
            @include underline;
            img{
                filter: saturate(50%);
            }
        }
    }
    /*================ All content, links and image slider End ================*/
    
    .gen_video_img{
        text-align: center;
        margin: 0 auto;
    }
    .topTitle {
        text-align: center;
        margin-bottom: 75px;
    }
    /*================ Image Or Video End ================*/
    
    .link_text {
        font-size: 15px;
        color: #5C6B26;
        font-weight: 700;
        img {
            margin-left: 3px;
            transform: rotate(180deg);
        }
    }//unidentified
    
    .img_text_card{
        margin: 0 auto;
        max-width: 1200px;
    }
    .img_text_card_row {
        .img_text_card_col {
            padding: 0px 6px;
            margin-bottom: 15px;
            >a:hover {
                .link {
                    img {
                        @include img-green;
                    }
                }
            }
            &.one {
                .text-img-wrap {
                    display: grid;
                    align-items: center;
                    grid-column-gap: 20px;
                    grid-template-columns: 1fr 1fr;
                }
                .link {
                    bottom: 40px;
                }
                .text_card_block {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        }
        .text-img-wrap {
            border: 0;
            height: 100%;
            display: flex;
            background: $white;
            flex-direction: column;
            box-shadow: 0px 3px 6px #00000038;
            >a {
                height: 100%;
                display: flex;
                flex-direction: column;
                &:hover {
                    text-decoration: none;
                }
            }
            //&:hover {}
            &.no-img {
                .btn_sm {
                    bottom: 20px;
                    position: absolute;
                }
            }
            //>a:hover {}
            .img_card_block {
                border-bottom: 6px solid $cyber-yellow;
                img {
                    width: 100%;
                }
            }
            h3{
                color: $black;
            }
            .text_card_block {
                height: auto;
                height: 100%;
                display: flex;
                padding: 20px 25px;
                flex-direction: column;
                justify-content: space-between;
                p,
                li {
                    color: $black;
                    font-weight: normal;
                    margin-bottom: 0;
                }
                h5 {
                    margin-bottom: 15px;
                }
                &:hover p{
                    text-decoration: underline;
                }
            }
            .doc_block{
                margin: 0;
                padding: 12px 20px;
                flex-direction: row;
                background-color: $anti-flash-white;
                text-decoration: underline;
                img{
                    max-width: 14px;
                    margin-right: 8px;
                }
            }
            &:hover {
                outline: 1px solid $dolphin-gray;
            }
        }   
        &.one {
            .text-img-wrap>a {
                display: grid;
                align-items: center;
                grid-column-gap: 20px;
                grid-template-columns: 1fr 1fr;
            }
        }
        .has-button.text-img-wrap .text_card_block {
            position: relative;
            padding-bottom: 50px;
            height: 100% !important;
        }
        .has-button.text-img-wrap .link {
            left: 25px;
            width: auto;
            bottom: 30px;
            display: table;
            position: absolute;
        }
    }
    /*================ Image, Text Card Variations End ================*/
    
    .button_block {
        display: flex;
    }
    .img_button_row {
        justify-content: center;
        .img_btn_col {
            padding-left: 8px;
            padding-right: 8px;
            margin-bottom: 15px;
            &:hover{
                img{
                    filter: brightness(1.5);
                }
            }
        }
        .img_block {
            margin-bottom: 10px;
            position: relative;
            overflow: hidden;
        }
        .img_block_title {
            width: 100%;
            text-align: center;
            h3 {
                color: $black;
                margin: 0px;
                position: relative;
            }
        }
        img {
            width: 100%;
        }
    }
    /*================ Clickable Images End ================*/
    
    .expand_img_grid {
        .container {
            max-width: 1200px;
        }
    }
    .expanding-grid {
        position: relative;
        .expand_box {
            background: $white;
            border: 1px solid #d9d9d9;
            box-shadow: 0px 3px 6px #00000029;
            &:hover {
                //outline: 1px solid $primary;
                .plus-minus_icon {
                    background-color: $anti-flash-white;
                }
            }
        }
        .expand_det {
            padding: 15px;
            text-align: center;
            padding-bottom: 10px;
            /*  background: #fff;*/
            h6 {
                color: $black;
                margin-bottom: 5px;
                span {
                    color: $black;
                    display: block;
                    margin-top: 4px;
                    font-weight: normal;
                    text-transform: uppercase;
                }
            }
        }
        .links {
            padding: 1em 0;
            display: block;
            overflow: hidden;
            margin: 0px -5px;
            padding-top: 0px;
            >li {
                width: 25%;
                float: left;
                padding: 0px 5px;
                list-style: none;
                margin-bottom: 11px;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                >a {
                    text-decoration: none;
                }
                .active {
                    .expand_box{
                        z-index: 2;
                        box-shadow: none;
                        position: relative;
                        border-bottom: none;
                        background-color: $white;
                    }
                    .expand_det {
                        min-height: 125px;
                    }
                    .plus-minus_icon {
                        img {
                            @include rotate;
                        }
                    }
                }
            }
        }
        .expand_img {
            border-bottom: 6px solid $cyber-yellow;
            img {
                width: 100%;
            }
        }
        .spacer {
            clear: both;
            display: block;
            margin-bottom: 0px;
        }
        .expanding-container {
            width: 100%;
            clear: both;
            display: none;
            margin-top: -11px;
        }
        .expanding-container.expanded,
        .expanding-grid .expanding-container:target {
            display: block
        }
        .close-button {
            z-index: 5;
            width: 25px;
            color: #fff;
            height: 25px;
            line-height: 1;
            overflow: hidden;
            margin-top: 20px;
            text-indent: 5em;
            margin-right: 20px;
            white-space: nowrap;
            display: inline-block;
            text-decoration: none;
            will-change: opacity;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            background: url(../img/cancel.png);
            -webkit-background-size: cover;
               -moz-background-size: cover;
                 -o-background-size: cover;
                    background-size: cover;
            &.active {
                -webkit-transition: opacity 0.2s;
                     -o-transition: opacity 0.2s;
                        transition: opacity 0.2s;
            }
            &:hover {
                opacity: 0.5
            }
        }
        .expand-content {
            width: 100%;
            margin: auto;
            margin-bottom: 15px;
            padding: 30px 130px 20px;
            box-shadow: 0px 0px 3px #00000029;
        }
        .plus-minus_icon {
            width: 39px;
            height: 39px;
            display: flex;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            align-items: center;
            border-radius: 100%;
            justify-content: center;
            img {
                max-width: 22px;
            }
        }
        .no-content {
            >a {
                pointer-events: none;
            }
            .plus-minus_icon {
                visibility: hidden;
            }
        }
    }
    /*================ Expand Images Grid End ================*/

    .owl-general {
        position: relative;
        margin: 0px auto;
        .owl-stage {
            display: flex;
        }
        .owl-stage .owl-item {
            width: max-content !important;
            width: -moz-max-content !important;
            width: -webkit-max-content !important;
        }
        .owl-stage .item {
            width: max-content;
            width: -moz-max-content;
            width: -webkit-max-content;
        }
        .owl-carousel .owl-item img {
            width: auto;
            margin-left: auto;
            margin-right: auto;
        }
        .owl-nav {
            button {
                top: 50%;
                border: 0;
                z-index: 9;
                width: 30px;
                height: 30px;
                padding: 0;
                display: flex;
                background: none;
                position: absolute;
                align-items: center;
                justify-content: center;
                transform: translateY(-50%);
                &:focus{
                    outline: none;
                }
                //img {}
                //&:hover {}
            }
            .owl-next {
                right: 15px;
                //img {}
            }
            .owl-prev {
                left: 15px;
                img {
                    @include rotate;
                }
            }
        }
        .owl-stage-outer {
            margin: auto;
            overflow: hidden;
        }
        .owl-carousel .owl-dot {
            width: 32px;
            height: 1px;
            margin: 0px 3px;
            border-radius: 0;
            background: #4E453B;
        }
        .owl-carousel .owl-dots {
            display: none;
            margin-top: 15px;
            text-align: center;
            margin-bottom: 15px;
        }
        .owl-carousel .owl-dot.active {
            height: 3px;
            background: #4E453B;
        }
    }
    /*================ Image Carousel End ================*/
    
    .howto{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .how_to_cont {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        h2 {
            margin-bottom: 50px;
            position: relative;
            padding-left: 25px;
        }
        .how_row {
            flex-wrap: nowrap;
            margin-bottom: 10px;
            -ms-flex-wrap: nowrap;
            h6 {
                margin-bottom: 0px;
            }
            .number {
                border: 0;
                width: 43px;
                height: 43px;
                display: flex;
                color: $white;
                min-width: 40px;
                font-size: 16px;
                font-weight: 700;
                min-height: 40px;
                margin-right: 20px;
                align-items: center;
                border-radius: 100px;
                display: -webkit-box;
                display: -ms-flexbox;
                background: $secondary;
                -ms-flex-pack: center;
                -ms-flex-align: center;
                justify-content: center;
                -webkit-box-pack: center;
                -webkit-box-align: center;
            }
            .how_title {
                color: $black;
                font-size: 16px;
                font-weight: 700;
                text-transform: none;
            }
            p.how_title {
                margin-bottom: 5px;
            }
        }
    }
    /*================ How to End ================*/
    
    
    .simple_list_info {
        .row {
            justify-content: center;
        }
    }
    .simple_list_col {
        padding-left: 4px;
        padding-right: 4px;
        margin-bottom: 8px;
        a {
            width: 100%;
            height: 100%;
            padding: 10px;
            @include bold;
            display: flex;
            color: $primary;
            font-size: 18px;
            min-height: 95px;
            background: none;
            text-align: center;
            position: relative;
            align-items: center;
            display: -webkit-box;
            display: -ms-flexbox;
            -ms-flex-pack: center;
            -ms-flex-align: center;
            justify-content: center;
            -webkit-box-pack: center;
            -webkit-box-align: center;
            border: 2px solid $primary;
            &:hover {
                color: $white;
                text-decoration: none;
                background: $secondary;
                border-color: $secondary;
            }
        }
    }
    /*================ Button List End ================*/
    

    .contactcard_row {
        .contact_col {
            display: flex;
            padding: 0px 6px;
            margin-bottom: 15px;
            flex-direction: column;
            justify-content: flex-start;
        }
        .cont_inner {
            padding: 32px 11px 32px 48px;
            background-color: $anti-flash-white;
        }
        .contact_box {
            background: $white;
            p {
                margin-bottom: 5px;
            }
            h3 {
                color: $black;
                font-size: 22px;
                font-weight: 700;
            }
            h6 {
                font-weight: normal;
            }
            .cont_img {
                img {
                    width: 100%;
                }
            }
        }
        .tel_em_fax {
            margin-top: 20px;
            strong {
                color: $black;
                font-weight: 700;
            }
            a {
                color: $primary;
                font-weight: 600;
                text-decoration: none;
                &:hover {
                    color: #2977AE;
                    text-decoration: underline;
                }
            }
            p {
                margin-bottom: 3px;
            }
            p.adress {
                padding-top: 15px;
            }
        }
    }
    /*================ Contact Card End ================*/
    
}

@media (max-width: 1199.98px) {
    .main_wrapper .main_breadcrumb .breadcrumb{
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 767.98px) and (max-width: 1024px) {
    .contact_col {
        flex: 0 0 50%;
        max-width: 50%;
    }
}


@media (max-width: 991.98px) {
    .main_wrapper .expanding-grid .expand-content{
        padding: 30px 30px 20px;
    }
    .main_wrapper .expanding-grid .links > li{
        width: 33.333%;
    }
}

@media (max-width: 767.98px) {
    .main_wrapper .expanding-grid .links > li{
        width: 50%;
    }
}

@media (max-width: 460px) {
    .main_wrapper .expanding-grid .links > li{
        width: 100%;
    }
}

/*================================= Page Builder End =======================================*/
