.test-btn {
  background-color: #EAA522;
}

/*================================= Search result Start =======================================*/
.main_wrapper .page_title {
  margin-bottom: 40px;
  background-color: #F0F3FA;
}
.main_wrapper .page_title h1 {
  display: inline-block;
}
.main_wrapper .main_breadcrumb .breadcrumb {
  padding: 0.75rem 8rem;
  background-color: transparent;
}
.main_wrapper .main_breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item {
  padding-left: 0.25rem;
}
.main_wrapper .main_breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  font-weight: 700;
  color: #03246A;
  padding-right: 0.25rem;
}
.main_wrapper .main_breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item.active {
  font-weight: 400;
  color: #03246A;
}
.main_wrapper .main_breadcrumb .breadcrumb a {
  font-weight: 600;
  color: #03246A;
}
.main_wrapper .main_search_content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px 50px 15px;
}
.main_wrapper .main_search_content h5 {
  margin-right: 20px;
  margin-bottom: 0px;
}
.main_wrapper .main_search_content .search_box {
  margin-bottom: 0px;
}
.main_wrapper .main_search_content .search_box .btn {
  top: 0;
  right: 0;
  border: 0;
  z-index: 90;
  height: 50px;
  background: none;
  border-radius: 0px;
  position: absolute;
}
.main_wrapper .main_search_content .search_box .btn img {
  max-width: 30px;
}
.main_wrapper .main_search_content .search_box .probox,
.main_wrapper .main_search_content .search_box input.orig,
.main_wrapper .main_search_content .search_box .proclose,
.main_wrapper .main_search_content .search_box .innericon,
.main_wrapper .main_search_content .search_box .promagnifier {
  height: 45px !important;
  font-size: 16px !important;
  font-family: "Industry", sans-serif !important;
}
.main_wrapper .main_search_content .search_box .innericon {
  background-size: 24px !important;
}
.main_wrapper .main_search_content .search_box .probox {
  height: auto;
  border: 0 !important;
  overflow: visible !important;
}
.main_wrapper .main_search_content .search_box .asp_main_container {
  border-radius: 5px;
  overflow: visible !important;
  border: 1px solid #D9D9D9;
}
.main_wrapper .main_search_content .search_box .probox {
  min-width: 300px;
}
.main_wrapper .main_search_content .search_box .proinput input.orig {
  font-size: 15px !important;
  color: #000102 !important;
  border-bottom: 0 !important;
  padding-bottom: 4px !important;
  font-weight: normal !important;
  font-family: "Gill Sans", sans-serif !important;
}
.main_wrapper .main_search_content .search_box ::-webkit-input-placeholder {
  font-size: 15px !important;
  color: #000102 !important;
  font-weight: normal !important;
  font-family: "Gill Sans", sans-serif !important;
}
.main_wrapper .main_search_content .search_box ::-moz-placeholder {
  font-size: 15px !important;
  color: #000102 !important;
  font-weight: normal !important;
  font-family: "Gill Sans", sans-serif !important;
}
.main_wrapper .main_search_content .search_box :-ms-input-placeholder {
  font-size: 15px !important;
  color: #000102 !important;
  font-weight: normal !important;
  font-family: "Gill Sans", sans-serif !important;
}
.main_wrapper .main_search_content .search_box :-moz-placeholder {
  font-size: 15px !important;
  color: #000102 !important;
  font-weight: normal !important;
  font-family: "Gill Sans", sans-serif !important;
}
.main_wrapper .main_search_content .search_box .promagnifier {
  display: flex;
  align-items: center;
  width: 45px !important;
  justify-content: center;
  background: #03246A !important;
  border-radius: 0px 5px 5px 0px !important;
}
.main_wrapper .main_search_content .search_box .innericon svg {
  width: 28px !important;
}
.main_wrapper .main_search_content .form-control {
  min-width: 320px;
  border: 1px solid #000000;
}
.main_wrapper .resultmain {
  padding: 0px 0px 0px 0px;
}
.main_wrapper .rslt_txt {
  margin: auto;
  margin-top: 6px;
  background-color: #ffffff;
  padding: 0px 0px 30px 0px;
}
.main_wrapper .rslt_txt .container {
  max-width: 810px;
}
.main_wrapper .acc__card {
  margin-bottom: 15px;
}
.main_wrapper .acc__title {
  display: flex;
  cursor: pointer;
  min-height: 55px;
  border-radius: 0px;
  background: #ffffff;
  position: relative;
  align-items: center;
  border: 1px solid #D9D9D9;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1607843137);
}
.main_wrapper .acc__title:not(.active) img.minus, .main_wrapper .acc__title.active img.plus {
  display: none;
}
.main_wrapper .acc__title.active {
  background-color: #0033A0;
}
.main_wrapper .acc__title.active .acco_sign {
  background-color: #0033A0;
  transition: all 0.3s ease-in-out;
}
.main_wrapper .acc__title.active h5 {
  color: #ffffff;
}
.main_wrapper .acc__title h5 {
  margin: 0px;
  color: #000000;
  position: relative;
}
.main_wrapper .acc__title .acco_sign {
  width: 57px;
  height: 57px;
  position: relative;
  margin-right: 45px;
  border-right: 2px solid rgba(217, 217, 217, 0.3490196078);
  background-color: #F0F3FA;
  transition: all 0.3s ease-in-out;
}
.main_wrapper .acc__title .acco_sign img {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.main_wrapper .acc__panel {
  display: none;
  border-top: 0;
  padding: 20px 20px 20px 100px;
}
.main_wrapper .resultWraper .searchFilterBlock {
  padding: 36px 20px 50px;
  background-color: #F0F3FA;
}
.main_wrapper .resultWraper .searchFilterBlock .form-group {
  margin-bottom: 10px;
}
.main_wrapper .title-sort {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main_wrapper .result_row {
  padding: 10px 0;
  background: #ffffff;
  margin-bottom: 35px;
  padding-bottom: 35px;
  border-radius: 0px;
  position: relative;
  border-bottom: 1px solid #798C8C;
}
.main_wrapper .result_row h4,
.main_wrapper .result_row h2 {
  font-size: 18px;
  font-weight: 700;
}
.main_wrapper .result_row .re_category {
  font-weight: normal;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.main_wrapper .result_row > a {
  color: #000000;
  display: block;
  text-decoration: none !important;
  font-weight: normal;
}
.main_wrapper .result_row:hover {
  border-color: #68C7EF;
}
.main_wrapper .filterBlocks .topTitle {
  margin-bottom: 20px;
}
.main_wrapper .filterBlocks h5 {
  font-size: 16px;
}
.main_wrapper .filterBlocks h3 {
  color: #000000;
  font-weight: 700;
  text-transform: none;
}
.main_wrapper .filterBlocks p {
  line-height: 24px;
}
.main_wrapper .resull_filter {
  padding: 40px 100px 70px;
}
.main_wrapper .resull_filter .form-group > label,
.main_wrapper .resull_filter .sort_boxResult > label {
  font-weight: 700;
  padding-left: 5px;
  text-transform: none;
  margin-bottom: 0.25rem;
}
.main_wrapper .resull_filter select {
  font-weight: 500;
  border: 1px solid #E2E2E2;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1607843137);
  background: #FFFFFF url(../img/icon-arrow-down.svg) no-repeat center right 15px;
  background-size: 24px 14px;
}
.main_wrapper .pagination {
  justify-content: center;
}
.main_wrapper .sort_boxResult {
  margin-left: auto;
  margin-bottom: 20px;
}
.main_wrapper .sort_boxResult select {
  min-width: 270px;
}

@media (max-width: 1199.98px) {
  .main_wrapper .main_breadcrumb .breadcrumb {
    padding-left: 0;
    padding-right: 0;
  }
  .main_wrapper .resull_filter {
    padding-left: 0;
    padding-right: 15px;
  }
}
@media (max-width: 767.98px) {
  .main_wrapper .resull_filter {
    padding-right: 0;
  }
  .main_wrapper .acc__title .acco_sign {
    margin-right: 25px;
  }
  .main_wrapper .acc__panel {
    padding-left: 80px;
  }
  .main_wrapper .resultWraper .searchFilterBlock {
    margin-bottom: 25px;
  }
  .main_wrapper .sort_boxResult select {
    min-width: 100px;
  }
  .main_wrapper .resull_filter select {
    background-size: 10px 8px;
  }
}
/*================================= Search result End =======================================*/
/*================================= 404 Page Start =======================================*/
.no-found-wraper {
  padding: 180px 0;
  position: relative;
  background-color: #F0F3FA;
}
.no-found-wraper > div {
  position: relative;
}
.no-found-wraper .no-found-info {
  gap: 60px;
}
.no-found-wraper .no-found-info h1 {
  text-transform: uppercase;
  line-height: 58px;
  margin-bottom: 30px;
}
.no-found-wraper .no-found-info h2 {
  font-weight: 700;
  font-size: 250px;
  color: #0033A0;
  line-height: 200px;
  margin-top: 20px;
}
.no-found-wraper .no-found-info h3 {
  color: #000000;
  line-height: 26px;
}
.no-found-wraper .no-found-info .search_box {
  max-width: 450px;
}
.no-found-wraper .no-found-info .search_box form {
  max-width: 350px;
  margin-top: 40px;
  margin-bottom: 50px;
}
.no-found-wraper .no-found-info .search_box input {
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #E2E2E2;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1607843137);
}
.no-found-wraper .no-found-info .search_box .btn {
  width: 50px;
  height: 50px;
  color: #000000;
  border-radius: 0;
  background-color: #FFD100;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1607843137);
}
.no-found-wraper .no-found-info .btn_normal {
  height: 50px;
  padding-top: 0;
  font-size: 18px;
  padding-bottom: 0;
  line-height: 50px;
  border-radius: 6px;
}

@media (max-width: 991.98px) {
  .no-found-wraper {
    padding: 80px 0;
  }
  .no-found-wraper .no-found-info .search_box {
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .no-found-wraper .no-found-info {
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  .no-found-wraper .no-found-info .search_box form {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 480px) {
  .no-found-wraper .no-found-info h2 {
    font-size: 150px;
    line-height: 100px;
  }
  .no-found-wraper .no-found-info {
    gap: 30px;
  }
  .no-found-wraper .no-found-info h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
}
/*================================= 404 Page End =======================================*//*# sourceMappingURL=result.css.map */